@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #e2e8f0;
  height: 0.5rem;
  border-radius: 9999px;
}

.dark input[type=range]::-webkit-slider-runnable-track {
  background: #475569;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -8px;
  background-color: #137fec;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 9999px;
  border: 4px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.dark input[type=range]::-webkit-slider-thumb {
  border-color: #1e293b;
}

input[type=range]::-moz-range-track {
  background: #e2e8f0;
  height: 0.5rem;
  border-radius: 9999px;
}

.dark input[type=range]::-moz-range-track {
  background: #475569;
}

input[type=range]::-moz-range-thumb {
  background-color: #137fec;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 9999px;
  border: 4px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.dark input[type=range]::-moz-range-thumb {
  border-color: #1e293b;
}

