@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 13, 20, 27;
  --background-start-rgb: 221, 221, 221;
  --background-end-rgb: 221, 221, 221;
}

@layer base {
  body {
    @apply antialiased text-[#0d141b] bg-[#f8f9fa];
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-2 border-slate-100 hover:bg-slate-400 transition-colors;
}

/* Range Input Reset */
input[type="range"] {
  @apply appearance-none bg-transparent cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-7 h-7 bg-[#0d141b] border-[3px] border-white rounded-full shadow-[0_4_20px_rgba(0,0,0,0.15)] transition-all hover:scale-110 active:scale-95 cursor-grab active:cursor-grabbing;
}

input[type="range"]::-moz-range-thumb {
  @apply w-7 h-7 bg-[#0d141b] border-[3px] border-white rounded-full shadow-[0_4_20px_rgba(0,0,0,0.15)] transition-all hover:scale-110 active:scale-95 cursor-grab active:cursor-grabbing;
}

/* Material Symbols Outlined Fix */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
